.recipe-detail{
  overflow: hidden;

  img{
    height: 500px;
    position: relative;
  }

  &__info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;

    &__fullStar{
      text-decoration: none;
      font-size: 2rem;
      color: chartreuse;
    }

    &__emptyStar{
      text-decoration: none;
      font-size: 2rem;
      color: gray;
    }

    i{
      font-size: 1.2rem;
      margin-left: 2rem;
    }
  }

  &__ingredients{
    display: flex;
    margin: auto;
  }
}

.recipes-in-card{
    display: flex;

}