.recipe-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  transition: 0.3s;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  text-align: justify;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.5);
    transition: 0.4s ease-out;
  }

  img{
    width: 300px;
    height: 170px;
  }

  &__container{
    padding-top: 1rem;
    
    h1{
      font-size: 1.3rem;
      text-align: center;
      font-weight: 600;
    }

    &__info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;

      &__fullStar{
        text-decoration: none;
        font-size: 2rem;
        color: chartreuse;
      }

      &__emptyStar{
        text-decoration: none;
        font-size: 2rem;
        color: gray;
      }

      i{
        font-size: 1.2rem;
      }
    }

    &__chef{
      border-top: 1px solid rgb(177, 177, 177);
      padding-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 1rem;

      img{
        height: 70px;
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1rem;
      }
    }
  }
}