.preview-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  transition: 0.3s;
  margin: 1rem 3rem 1rem 0 ;
  padding: 1rem;
  

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.5);
    transition: 0.4s ease-out;
  }

  .img{
    &__chefs{
      height: auto;
      width: 200px;
      border-radius: 50%;
    }

    &__ingredients{
      height: 200px;
      width: 200px;
      border-radius: 50%;
    }

    &__galleries{
      width: 400px;
      height: 320px;
    }
  }

  &__container{
    padding-top: 1rem;

    h1{
      font-size: 1.2rem;
      text-align: center;
      font-weight: 600;
    }
  }
}

@import '../../media-queries'