h1, h2{
  font-family: 'Courgette', cursive;
}

.app-container__inner{
  font-family: 'ABeeZee', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
