.main-nav {
  position: relative;
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:space-between;
  background-color: #8fbf38;
  color: white;
  font-family: 'ABeeZee', sans-serif;
  width: auto;

  &__home{
    display: flex;
    margin: 1rem 0 1rem 2rem;
    align-items: center;
    color: white;
    text-decoration: underline;
    font-size: 1.3rem;
    font-family: 'Courgette', cursive;

    p{
      margin: 1rem 0 1rem 0.8rem;
    }

    &:hover {
      color: rgb(253, 255, 112);
    }
  }

  &__routes{
    margin: 1rem 2rem 1rem 2rem;
    
    &__link {
      color: white;
      text-decoration: none;
      font-weight: 700;
      font-size: 1rem;
      padding-left: 2rem;

      &:hover {
        color: rgb(253, 255, 112);
      }
    }
  }
}

@import '../../media-queries';


