.main-nav {
  position:relative;
  display:flex;
  align-items:center;
  justify-content:space-between;
  background-color: #8fbf38;
  color: white;

  &__home{
    margin: 1rem 0 1rem 2rem;
    
  }

  &__routes{
    margin-right: 2rem;
    &__link {
      color: white;
      text-decoration: none;
      font-weight: 500;
      padding: 1rem;

      &:hover {
        color: rgb(253, 255, 112);
      }
    }
  
    
  }
  
}



